.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26rem;
  height: 6rem;
  border: 2px black solid;
  margin: 30px auto;
  border-radius: 10px;
  background: #872f85;
}
.buttons button {
  width: 6rem;
  height: 3rem;
  margin: 20px;
  background: rgb(150, 203, 223);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.buttons button:hover,
.buttons button:active {
  color: #dbd3db;
  background: #704c70;
  border: 2px solid white;
}
