* {
  box-sizing: border-box;
}
.card {
  position: fixed;
  width: 38rem;
  min-width: 23rem;
  border-radius: 0.8rem;
  margin: auto;
  background: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  text-align: justify;
}
.card button {
  font-size: 19px;
}
